---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  annotations:
    tekton.dev/tags: rpm-build
  name: generate-mock-config
spec:
  description: Generate Mock configuration template
  params:
    - description: File containing the Mock configuration template in source tree
      name: mock-config-template-file
      type: string
    - description: RPM Build environment OCI image to run scripts in
      name: script-environment-image
      type: string
    - description: The Trusted Artifact URI pointing to the artifact with the source code.
      name: source-artifact
      type: string
  results:
    - name: mock-config-template-file-content
      type: string
      description: Generated Mock configuration template (as a string)
  stepTemplate:
    volumeMounts:
      - mountPath: /var/workdir
        name: workdir
  steps:
    - name: use-trusted-artifact
      image: quay.io/redhat-appstudio/build-trusted-artifacts:latest@sha256:9b180776a41d9a22a1c51539f1647c60defbbd55b44bbebdd4130e33512d8b0d
      args:
        - use
        - $(params.source-artifact)=/var/workdir/source
    - name: generate-mock-config
      image: $(params.script-environment-image)
      script: |
        #!/bin/bash
        set -ex
        set -o pipefail

        if [ -n "$(params.mock-config-template-file)" ]; then
          configFile="/var/workdir/source/$(params.mock-config-template-file)"
          if [ -f "$configFile" ]; then
            echo "Using Mock configuration template file: $configFile"
            cat "$configFile" > "$(results.mock-config-template-file-content.path)"
          else
            echo "Mock configuration template file not found: $configFile"
            exit 1
          fi
        else
          echo "Mock configuration template file not specified"
          echo -n "" > "$(results.mock-config-template-file-content.path)"
        fi
  volumes:
    - name: workdir
      emptyDir: {}
