---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  annotations:
    tekton.dev/tags: rpm-build
  name: prepare-mock-config
spec:
  description: |
    Prepare Mock Configuration Template.  By default we use the
    fedora-rawhide-ARCH configuration (provided by mock-core-configs).
    But some use-cases might want to generate the configuration by Koji (when
    building against the Koji buildroot), or even host the Mock configuration
    within the provided git source repository (Hummingbird's monorepo).
    There are various situation we need to
  params:
    - description: RPM Build environment OCI image to run scripts in
      name: script-environment-image
      type: string
    - description: Which chroot name (check mock-core-configs packages) we want to build for.
      name: chroot
      type: string
      default: fedora-rawhide-@ARCH@
    - name: source-artifact
      type: string
    - description: If Mock Config template exists within source dir, specify where.
      name: mock-config-template-filename-in-sources
      type: string
      default: ""
    - name: ociStorage
      description: Where to store the Mock Config template file as a Trusted Artifact.
    - name: ociArtifactExpiresAfter
      description: How long Trusted Artifacts should be retained
      type: string
  results:
    - name: mock-config-template-file
      description: Mock configuration template file (trusted-artifact, string content)
      type: string
  stepTemplate:
    volumeMounts:
      - mountPath: /var/workdir
        name: workdir
  steps:
    - name: use-trusted-artifact
      image: quay.io/redhat-appstudio/build-trusted-artifacts:latest@sha256:9b180776a41d9a22a1c51539f1647c60defbbd55b44bbebdd4130e33512d8b0d
      args:
        - use
        - $(params.source-artifact)=/var/workdir/source
    - name: prepare-mock-config-template
      image: $(params.script-environment-image)
      script: |
        #!/bin/bash
        set -ex
        set -o pipefail
        cd /var/workdir/source
        mkdir /var/workdir/mock-config
        mock_config_template=/var/workdir/mock-config/mock.cfg
        if [ -n "$(params.mock-config-template-filename-in-sources)" ]; then
          # The Mock config template is committed to the Git repository.  Copy
          # it to the standard location so the Trusted Artifact uploader can
          # pick it up correctly.
          cp $(params.mock-config-template-filename-in-sources) "$mock_config_template"
        else
          cat > "$mock_config_template" <<EOF
          # By default, the Konflux RPM pipeline uses the predefined Mock
          # configuration shipped with mock-core-configs, which builds against
          # mirrored Fedora content (released packages) by default.
          include("/etc/mock/$(params.chroot).cfg")
        EOF
        fi
        # present the file in logs
        cat "$mock_config_template"
    - name: create-trusted-artifact-mock-config
      image: quay.io/redhat-appstudio/build-trusted-artifacts:latest@sha256:9b180776a41d9a22a1c51539f1647c60defbbd55b44bbebdd4130e33512d8b0d
      args:
        - create
        - --store
        - $(params.ociStorage)
        - $(results.mock-config-template-file.path)=/var/workdir/mock-config
      env:
        - name: IMAGE_EXPIRES_AFTER
          value: $(params.ociArtifactExpiresAfter)
  volumes:
    - name: workdir
      emptyDir: {}
